#fullscreen-clock {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  padding: 10px 10px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 18px;
  border-radius: 5px;
  display: none;
}
